* {
    bg-col: #1E1E2E;
    bg-col-light: #313244;
    border-col: #6C7086;
    selected-col: #45475A;
    green: #A6E3A1;
    fg-col: #CDD6F4;
    fg-col2: #BAC2DE;
    grey: #6C7086;
    highlight: @green;
    element-bg: #313244;
    element-alternate-bg: #45475A;
}
